@model IEnumerable<ShopTARgv23.Models.Spaceships.SpaceshipsIndexViewModel>



@{
    int rowNumber = 1;
 }


 <div>
     <a asp-action="create" asp-controller="Spaceships" type="submit" class="btn btn-primary">Create</a>
 </div>


 <div class="h1">
     Spaceships
 </div>


 <form method="post">
     <table class="table table-hover">
         <thead>
             <tr>
                 <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Built Date</th>
                <th scope="col">Engine Power</th>
                <th scope="col"></th>
             </tr>
         </thead>
         <tbody>
            @foreach (var spaceships in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@spaceships.Name</td>
                    <td>@spaceships.Type</td>
                    <td>@spaceships.BuiltDate</td>
                    <td>@spaceships.EnginePower</td>
                    <td>

                    </td>
                </tr>

                rowNumber ++;
            }
         </tbody>

     </table>
 </form>